.QuoteControls-checkbox-group {
  display: flex;
}

.QuoteControls-checkbox-group input {
  display: none;
}

#keep-quote-checkbox:checked + label {
  background-color: lightcoral;
}

#keep-fonts-checkbox:checked + label {
  background-color: lightblue;
}

#keep-background-checkbox:checked + label {
  background-color: lightgreen;
}
