.favorites-list {
  list-style: none;
  padding-left: 0;
}

.favorites-list-item {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  border: 1px solid darkgrey;
  transition: background-color .3s ease-in-out;
}

.favorites-list-item:hover {
  background-color: darkgrey;
}

.favorites-list-item-img {
  width: 100px;
  height: 100px;
}