.favorites-list-item {
  color: $menu-text-color;
  display: flex;
  justify-content: space-between;
  background-color: $menu-bg-color;
  border-top: 1px solid darkgrey;
  padding-left: 10px;
  transition: background-color .3s ease-in-out;
}

.favorites-list-item:hover {
  background-color: darkgrey;
}

.favorites-list-item-img {
  width: 100px;
  height: 100px;
}