.account-access-forms {
  background-color: $menu-bg-color;
  color: $menu-text-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 70px;
  width: 100%;
  z-index: 10;
}

.account-access-forms__button {
  font-size: $xl-font-size;
  color: $menu-text-color;
  outline: none;
}

.account-access-forms__selected-form {
  grid-column: 1 / 3;
  padding: 0 20px;
}

.highlight {
  background-color: #616161;
  border: none;
}